body 
{
	margin: 0;
}


.jumbo-bottom-fixed
{
	top: 0px;
	position: fixed;
	width: 100%;
	background-color: #FAFAFA;
	min-height: 10vh;
	max-height: 10vh;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 0px;
	box-shadow: 1px 1px 7px #E0E0E0;
}

.jumbo-bottom-fixed ul
{
	margin-top:0px;
	position: fixed;
	max-height: 10vh;
	float: left;
	min-height: 10vh;
	display: inline;
	margin-left: 10%;
	padding-top: 3.5vh;
}
.jumbo-bottom-fixed li 
{
	position: fixed;
	color: #5F6A7D;
	font-size: 0.75em;
	font-family: sans-serif;
	display: inline;
	padding-right: 50px;
	font-weight: 800;
}

.jumbo-bottom-fixed .button2
{

	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	text-decoration: none;
	text-decoration: none;
	margin-left: 20%;
	position: fixed;
	margin-top: 2vh;
	margin-right: 5%;
	background-color: #2996CC;
	color: #ffffff;
}
.jumbo-bottom-fixed .button2:hover
{
	color: #D4F4FF;
}

span
{
	color:#ffffff;
	padding-top: 2vh;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: 600;
	font-family: 'Century Gothic';
}

h1
{	
	margin-top: 13vh;
	text-align: center;
	color: #2996CC;
	font-family: 'Century Gothic';
	font-size: 24;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36.4000015258789px;
}

.wrapper
{	
	border-style: groove;
	height:60vh;
	width:95vw;
	margin-top: 5vh; 
}
.left
{
	float: left;
	height: 99%;
	width: 49%;
	background-repeat: no-repeat;
	border-style: groove;
	background-position: right;
}

.right
{
	float: right;
	height: 99%;
	width: 49%;
	background-repeat: no-repeat;
	background-position: left;
	border-style: groove;
}
