body{
	margin: 0px;
	overflow: hidden;
}

.jumbo{
	background-color: #68BFEC;
	max-height:75vh;
	min-height:75vh;
}

.jumbo-bottom{
	background-color: #FAFAFA;
	position: relative;
	min-height: 10vh;
	max-height: 10vh;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 0px;
	box-shadow: 1px 1px 10px #E0E0E0;
}


.jumbo-top ul
{
	height:5%;
	margin-right: 70px;
	float: right;
	display: inline;
}

#bird
{
	height: 50vh;
}
.jumbo-top li
{
	font-size: 70%;
	font-family: sans-serif;
	color: #FFFFFF;
	float:right;
	display: inline;
	padding-right: 50px;
	padding-top: 5%;
	font-weight: bold;
}
.jumbo-bottom ul
{
	max-height: 100%;
	min-height: 100%;
	display: inline;
	margin-left: 10%;

}
.jumbo-bottom li 
{
	color: #5F6A7D;
	font-size: 0.75em;
	overflow: hidden;
	font-family: sans-serif;
	display: inline;
	vertical-align: middle;
	padding-right: 50px;
	font-weight: 800;
}



.jumbo-right
{
	position: relative;
	margin-left: -100vw;
	display: block;
	float:right;
	max-width:30vw;
	margin-right: 12vw;
	margin-top: 10vh;
}

.jumbo-right h1
{
	width: 100%;
	float: right;
	color: #FFFFFF;
	font-family: 'Century Gothic';
	font-size: 24;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36.4000015258789px;
}

.button
{
	color:#66BDE8;
	background-color: #ffffff;
	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	text-decoration: none;
}

.button:hover
{
	color: #2996CC;
}

.jumbo-right h3
{
	margin-top: -0.2vh;
	float:right;
	color: #FFFFFF;
	line-height: 0px;
	padding-bottom: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-family: 'Century Gothic';
}



hr
{
	color:#E0E0E0;
	width:80%;
	outline-width: 1px;
}

.jumbo-bottom-fixed .button2
{

	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	text-decoration: none;
	text-decoration: none;
	margin-left: 20%;
	position: fixed;
	margin-top: 7px;
	margin-right: 5%;
	background-color: #2996CC;
	color: #ffffff;
}
.jumbo-bottom-fixed .button2:hover
{
	color: #D4F4FF;
}

.jumbo-bottom-fixed
{
	visibility: hidden;
	top: 0px;
	position: fixed;
	width: 100%;
	background-color: #FAFAFA;
	min-height: 10vh;
	max-height: 10vh;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 0px;
	box-shadow: 1px 1px 7px #E0E0E0;
}

.jumbo-bottom-fixed ul
{
	position: fixed;
	max-height: 60px;
	min-height: 60px;
	display: inline;
	margin-left: 10%;
	margin-top: 10px;
}
.jumbo-bottom-fixed li 
{
	position: fixed;
	color: #5F6A7D;
	font-size: 0.75em;
	font-family: sans-serif;
	display: inline;
	padding-right: 50px;
	font-weight: 800;
}

.main-body
{
	min-height: 80vh;
	background-image: url('5299_Domino-of-books-HD-wallpaper.jpg');
	background-size:35vw;
	background-repeat: no-repeat;
	background-position:left;
}

.option
{
	text-align: center;
	margin-top: 10%;
	width: 80vw;
	border-radius: 5px;
	height: 7%;
	border-width: 01px;
	max-width: 780px;
}

.option #next
{
	display: inline;
	float: right;
	height: 7vh;
}

.option #prev
{
	display: inline;
	float: left;
	height: 7vh;
}

.option #prev:hover
{
	cursor: hand;
}
.option #next:hover
{
	cursor: hand;
}
.option li:hover
{
	cursor: hand;
}
.option li 
{
	padding-left: 3%;
	padding-right: 3%;
	color: #2996CC;
	text-align: center;
	font-family: 'Century Gothic';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 38.4000015258789px;
	display: inline;
}
.option ul
{
	text-align: center;
	padding-left: 0px;
	display: inline;
}

.box 
{
	min-height: 60vh;
	width: 80%;
	max-width: 780px;
	margin-top: 2%;
}

#search-box
{
	font-family: 'Century Gothic';
	font-size: 18px;
	text-align: center;
	margin-top: 18%;
	min-width:80%;
	max-width:80%;
	margin-left: 2%;
	border-color: #E0E0E0;
	border-width: 1px;
	border-radius: 5px;
	min-height: 40px;
	color: #2996CC;
}

.search-button
{
	text-decoration: none;
	float:left;
	color:#ffffff;
	background-color: #2996CC;
	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 42%;
	margin-top: 5%;
}


select
{
	color: #2996CC;
	font-family: 'Century Gothic';
	font-size: 1em;
	min-width: 20%;
	max-width: 20%;
	height: 7vh;
	
	border-color: #E0E0E0;
}
select:hover
{

	box-shadow: 1px 1px 4px #014A7F;
}

#branch
{
	display: inline;
	float: left;
	margin-top: 10%;
	
}
#sem 
{
	margin-top: 10%;
	float: right;
	margin-right: 15%;
}

#subject
{
	width: 51.5vw;
	max-width:470px;
	float: left;
	margin-top: 5%;
}

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  background-image: url('arrow2.jpg');
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  -ms-animation: bounce 1s infinite;
  animation: bounce 1s infinite;


}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-moz-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-o-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-ms-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}


.sell
{
	padding-left: 2vh;
	padding-right: 2vh;
	position: fixed;
	bottom: 65vh;
	float: right;
	transform: rotate(270deg);
	transform-origin: right top 0;
	background-color: #2996CC;
	color:#ffffff;
	font-family: 'Century Gothic';
	font-size: 20pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 38.4000015258789px;
	right: 0vw;
	min-height: 5vw;
	box-shadow: -5px -5px 10px #E0E0E0;
}

span
{
	color:#ffffff;
	padding-top: 2vh;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: 600;
	font-family: 'Century Gothic';
}