body{
	margin: 0px;
	overflow: hidden;
	position: relative;
}

.jumbo{
	background-color: #68BFEC;
	max-height:75vh;
	min-height:75vh;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 140vw;
}

.jumbo-bottom{
	background-color: #FAFAFA;
	position: relative;
	min-height: 10vh;
	max-height: 10vh;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 0px;
	box-shadow: 1px 1px 10px #E0E0E0;
}


.jumbo-top ul
{
	height:5%;
	margin-right: 70px;
	float: right;
	display: inline;
}

#bird
{
	height: 50vh;
}
.jumbo-top li
{
	font-size: 70%;
	font-family: sans-serif;
	color: #FFFFFF;
	float:right;
	display: inline;
	padding-right: 50px;
	padding-top: 5%;
	font-weight: bold;
}
.jumbo-bottom ul
{
	float:left;
	max-height: 100%;
	min-height: 100%;
	display: inline;
	margin-left: 10%;
	margin-top: 3.5vh;

}
.jumbo-bottom li 
{
	color: #5F6A7D;
	font-size: 0.75em;
	overflow: hidden;
	font-family: sans-serif;
	display: inline;
	vertical-align: middle;
	padding-right: 50px;
	font-weight: 800;
}



.jumbo-right
{
	position: relative;
	margin-left: -100vw;
	display: block;
	float:right;
	width:50vw;
	max-width: 400px;
	margin-right: 12vw;
	margin-top: 10vh;
}

.jumbo-right h1
{
	text-align: right;
	width: 100%;
	float: right;
	color: #FFFFFF;
	font-family: 'Century Gothic';
	font-size: 24;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36.4000015258789px;
}

.button
{
	color:#66BDE8;
	background-color: #ffffff;
	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	text-decoration: none;
}

.button:hover
{
	color: #2996CC;
}

.jumbo-right h3
{
	margin-top: -0.2vh;
	float:right;
	color: #FFFFFF;
	line-height: 0px;
	padding-bottom: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-family: 'Century Gothic';
}

hr
{
	color:#E0E0E0;
	width:80%;
	outline-width: 1px;
}

.jumbo-bottom-fixed .button2
{

	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	text-decoration: none;
	text-decoration: none;
	margin-left: 20%;
	position: fixed;
	margin-top: 2vh;
	margin-right: 5%;
	background-color: #2996CC;
	color: #ffffff;
}
.jumbo-bottom-fixed .button2:hover
{
	color: #D4F4FF;
}

.jumbo-bottom-fixed
{
	visibility: hidden;
	top: 0px;
	position: fixed;
	width: 100%;
	background-color: #FAFAFA;
	min-height: 10vh;
	max-height: 10vh;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	border-bottom-width: 0px;
	box-shadow: 1px 1px 7px #E0E0E0;
}

.jumbo-bottom-fixed ul
{
	margin-top:0px;
	position: fixed;
	max-height: 10vh;
	float: left;
	min-height: 10vh;
	display: inline;
	margin-left: 10%;
	padding-top: 3.5vh;
}
.jumbo-bottom-fixed li 
{
	position: fixed;
	color: #5F6A7D;
	font-size: 0.75em;
	font-family: sans-serif;
	display: inline;
	padding-right: 50px;
	font-weight: 800;
}

.main-body
{
	z-index:2;
	min-height: 80vh;
	background-image: url('5299_Domino-of-books-HD-wallpaper2.jpg');
	background-size:35vw;
	background-repeat: no-repeat;
	background-position:left;
}

.option
{
	text-align: center;
	margin-top: 10%;
	width: 80vw;
	border-radius: 5px;
	height: 7%;
	border-width: 01px;
	max-width: 780px;
}

.option #next
{
	display: inline;
	float: right;
	height: 7vh;
}

.option #prev
{
	display: inline;
	float: left;
	height: 7vh;
}

.option #prev:hover
{
	cursor: hand;
}
.option #next:hover
{
	cursor: hand;
}
.option li:hover
{
	cursor: hand;
}
.option li 
{
	padding-left: 3%;
	padding-right: 3%;
	color: #2996CC;
	text-align: center;
	font-family: 'Century Gothic';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 38.4000015258789px;
	display: inline;
}
.option ul
{
	text-align: center;
	padding-left: 0px;
	display: inline;
}

.box 
{
	min-height: 60vh;
	width: 80%;
	max-width: 780px;
	margin-top: 2%;
}

#search-box
{
	font-family: 'Century Gothic';
	font-size: 18px;
	text-align: center;
	margin-top: 18%;
	min-width:80%;
	max-width:80%;
	margin-left: 2%;
	border-color: #E0E0E0;
	border-width: 1px;
	border-radius: 5px;
	min-height: 40px;
	color: #2996CC;
}

.search-button
{
	text-decoration: none;
	float:left;
	color:#ffffff;
	background-color: #2996CC;
	padding: 15px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 42%;
	margin-top: 5%;
}


.box-2 select
{
	color: #2996CC;
	font-family: 'Century Gothic';
	font-size: 1em;
	min-width: 20%;
	max-width: 20%;
	height: 7vh;
	
	border-color: #E0E0E0;
}
.box-2 select:hover
{

	box-shadow: 1px 1px 4px #014A7F;
}

#branch
{
	display: inline;
	float: left;
	margin-top: 10%;
	
}
#sem 
{
	margin-top: 10%;
	float: right;
	margin-right: 15%;
}

#subject
{
	width: 51.5vw;
	max-width:470px;
	float: left;
	margin-top: 5%;
}

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  background-image: url('arrow2.jpg');
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  -ms-animation: bounce 1s infinite;
  animation: bounce 1s infinite;


}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-moz-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-o-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

@-ms-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}


.sell
{
	padding-left: 2vh;
	padding-right: 2vh;
	position: fixed;
	bottom: 65vh;
	float: right;
	transform: rotate(270deg);
	transform-origin: right top 0;
	background-color: #2996CC;
	color:#ffffff;
	font-family: 'Century Gothic';
	font-size: 20pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 38.4000015258789px;
	right: 0vw;
	min-height: 5vw;
	box-shadow: -5px -5px 10px #E0E0E0;
}

.sell:hover
{
	cursor: pointer;
}

span
{
	color:#ffffff;
	padding-top: 2vh;
	font-size: 0.9em;
	font-family: sans-serif;
	font-weight: 600;
	font-family: 'Century Gothic';
}

.overlay
{
	visibility: hidden;
	z-index: 1000;
	position: absolute;
  	background-color: rgba(0,0,0,0.5);
  	height:100vh;
  	width:100vw;
}

.login
{
	visibility: hidden;
	margin-top: 15vh;
	margin-left: 10vw;
	border-radius: 4px;
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.85);
	width: 80vw;
	height:70vh;
	box-shadow: 10px 10px 10px #444444;
	z-index:1100;
	position:fixed;
}

#close:hover 
{
	color:red;
	cursor: pointer;
}
li:hover, span:hover
{
	cursor: pointer;
}

.log-left
{
	position: fixed;
	margin-top: 3vh;
	width:38vw;
	height:60vh;
}

.log-right
{
	position: fixed;
	margin-left: 41vw;
	margin-top: 3vh;
	width:38vw;
	height:60vh;
}

.log-left h1, .log-right h1
{
	text-align: center;
	color: #2996CC;
	font-family: 'Century Gothic';
	font-size: 24;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36.4000015258789px;
}

table 
{
	color: #2996CC;
	font-family: 'Century Gothic';
	font-size: 20;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36.4000015258789px;
}

table input 
{
	font-family: 'Century Gothic';
	font-size: 20;
	text-align: center;
	min-width:90%;
	max-width:90%;
	border-color: #E0E0E0;
	border-width: 1px;
	border-radius: 5px;
	min-height: 60%;
	color: #2996CC;
}

#login-button
{
	
	padding: 10px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;
	margin-top: 1vh;
	background-color: #2996CC;
	color: #ffffff;
}
#reg-button
{
	
	padding: 10px;
	border-radius: 3px;
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: 800;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;
	margin-top: 1vh;
	background-color: #2996CC;
	color: #ffffff;
}